body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gravitas-one: "Gravitas One";
  --font-notable: Notable;
  --font-im-fell-great-primer-sc: "IM FELL Great Primer SC";
  --font-baloo: Baloo;
  --font-baskervville: Baskervville;
  --font-baloo-2: "Baloo 2";
  --font-cardo: Cardo;
  --font-hammersmith-one: "Hammersmith One";
  --font-molle: Molle;
  --font-libre-baskerville: "Libre Baskerville";
  --font-oleo-script-swash-caps: "Oleo Script Swash Caps";
  --font-libre-bodoni: "Libre Bodoni";

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-131xl: 150px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-77xl: 96px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #221a03;
  --color-gray-200: rgba(255, 255, 255, 0.57);
  --color-gray-300: rgba(255, 255, 255, 0.08);
  --color-pink: #fecae0;
  --color-khaki-100: rgba(253, 255, 143, 0.24);
  --color-khaki-200: rgba(253, 255, 143, 0.35);
  --color-khaki-300: rgba(253, 255, 143, 0.25);
  --color-mistyrose: #fbdbe0;

  /* border radiuses */
  --br-12xl: 31px;
  --br-56xl-5: 75.5px;
}
